.btnReadInformation {
  background-image: url("/src/asserts/img/readInformationDASHBOARD.png");
  border: none;
  background-color: var(--color-brand-2);
  cursor: pointer;
  background-size: 100%;
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}

.btnEditInformation {
  background-image: url("/src/asserts/img/lapisEdit.png");
  border: none;
  background-color: var(--color-brand-2);
  cursor: pointer;
  background-size: 100%;
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}

.btnTrashDelete {
  background-image: url("/src/asserts/img/deleteTrashDashboard.png");
  border: none;
  background-color: var(--color-brand-2);
  cursor: pointer;
  background-size: 100%;
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}

.logout {
  background-color: var(--color-brand-2);
  width: 142px;
  height: 48px;
  color: var(--color-brand-1);
  border: 1px solid var(--color-brand-1);
  cursor: pointer;
  max-width: 100%;
}

.logout:hover {
  background-color: var(--color-hover-2);
}

.divNavCreateDepartment > h2 {
  font-size: 30px;
  font-weight: 700;
}

.selectDepartments {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  width: 282px;
  height: 38px;
  border: 1px solid black;
  border-radius: 15px;
}

.divNavCreateDepartment {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;
}

#btnCreateDepartProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: 1px solid var(--color-brand-1);
  color: var(--color-brand-2);
  width: 150px;
  max-width: 100%;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  z-index: 0;
}

#btnCreateDepartProfile:hover {
  background-color: var(--color-hover-1);
  border: 1px solid var(--color-hover-1);
  background-image: url(/src/asserts/img/PlusCreateBtnDASHBOARD.png);
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: 16%;
}

.divCreateButton {
  background-color: var(--color-brand-1);
  z-index: 0;
  background-image: url(/src/asserts/img/PlusCreateBtnDASHBOARD.png);
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: 16%;
}

.dialogCreateDepartment {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 13px;
}

.dialogCreateDepartment > input {
  width: 422px;
  max-width: 100%;
  height: 52px;
}

.dialogCreateDepartment > select {
  width: 422px;
  max-width: 100%;
  height: 52px;
  cursor: pointer;
}

.modalContainerCreate {
  width: 506px;
  height: 402px;
}
.dialogCreateDepartment > h1 {
  width: 375px;
  height: 54px;
  margin-left: 43px;
  margin-top: 39px;
}

#btnCreateDepartment {
  font-size: 18px;
  font-weight: 700;
  width: 422px;
  height: 48px;
  background-color: var(--color-brand-1);
  color: var(--color-brand-2);
  border: 1px solid var(--color-brand-1);
  cursor: pointer;
}

#btnCreateDepartment:hover {
  background-color: var(--color-hover-1);
  border: 1px solid var(--color-hover-1);
}

#closeModalCreateDepartment {
  margin-top: 15px;
  margin-right: 18px;
}

.ulAllDepartments {
  display: flex;
  width: 1182px;
  max-width: 100%;
  height: 385px;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0 auto;
  margin-top: 34px;
  overflow: auto;
}

.departmentCardDashboard {
  border-bottom: 2px solid var(--color-brand-1);
  width: 489px;
  height: 170px;
}

.liDepartmentsDashboard {
  display: flex;
  flex-direction: column;
  padding: 10px 29px;
  line-height: 25px;
}

.allBtnCardDepartments {
  margin: 0 auto;
  margin-top: 22px;
}

#closeModalCreateDepartment {
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(/src/asserts/img/closemodalUser.png);
  border: none;
  background-color: var(--color-brand-2);
  cursor: pointer;
  background-size: 100%;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}


.formDeleteModal{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 733px;
    height: 342px;
}

.formDeleteModal > section{
    margin-top: 70px;
    margin-bottom: 38px;
    width: 598px;
    height: 120px;
    display: flex;
    text-align: center;
    align-items: center;
}

.closeModalDeleteDepartment{
    position: absolute;
  right: 0;
  top: 0;
  background-image: url(/src/asserts/img/closemodalUser.png);
  border: none;
  background-color: var(--color-brand-2);
  cursor: pointer;
  background-size: 100%;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;

}

.formDeleteModal > h1{       
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
}

.confirmeDelete{
    font-size: 18px;
    background-color: var(--color-brand-4);
    width: 422px;
    height: 48px;
    color: var(--color-brand-2);
    border: 1px solid var(--color-brand-4);
    cursor: pointer;
}

.confirmeDelete:hover{
    background-color: var(--color-hover-3);
    border: 1px solid var(--color-hover-3);
}


.modalContainerEdit{
  width: 506px;
  height: 330px;
}

.formEditModal{
  position: relative;  
  display: flex;
  flex-direction: column;
  align-items: center;

}

.formEditModal > section > h1{
  font-size: 36px;
  font-weight: 700;
  width: 375px;
  height: 54px;
  margin-left: 43px;
  margin-top: 39px;

}

.closeModalEditDepartment{
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(/src/asserts/img/closemodalUser.png);
  border: none;
  background-color: var(--color-brand-2);
  cursor: pointer;
  background-size: 100%;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}

.inputEdit{
  margin-top: 20px;
  margin-bottom: 14px;
  font-size: 17px;
  width: 422px;
  height: 113px;
}

.confirmEdit{
  width: 422px;
  height: 48px;
  background-color: var(--color-brand-1);
  border: var(--color-brand-1);
  color: var(--color-brand-2);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.confirmEdit:hover{
  background-color: var(--color-hover-1);
  border: 1px solid var(--color-hover-1);
}


/* visualizar Empresas */

.dialogViewDepartment{
  position: relative;
  width: 857px;
  height: 637px;
}

.closeModalViewDepartment{
  position: absolute;
  right: 25px;
  top: 15px;
  background-image: url(/src/asserts/img/closemodalUser.png);
  border: none;
  background-color: var(--color-brand-2);
  cursor: pointer;
  background-size: 100%;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}

.formNav{
  display: flex;
  gap: 64px;
  margin-top: 30px;
}

.divViewInfo{
  display: flex;
  flex-direction: column;
  width: 422px;
}

.divViewInfo > select{
  height: 52px;
  font-size: 18px;
  font-weight: 700;

}

.divViewInfo > button{
  width: 157px;
  height: 48px;
  background-color: var(--color-brand-4);
  border: 1px solid var(--color-brand-4);
  font-size: 18px;
  font-weight: 700;
  color: var(--color-brand-2);
margin-top: 15px;
cursor: pointer;
}

.divViewInfo > button:hover{
  background-color: var(--color-hover-3);
  border: 1px solid var(--color-hover-3);
}

.navCompanieInfo{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userOff{
  
  display: flex;
  gap: 30px;
  width: 814px;
  height: 290px;
  overflow: auto;
  background-color: var(--color-gray-3);
  border: 1px solid var(--color-gray-4);
  margin: 0 auto;
  margin-top: 50px;
}

.userOff > li{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 5px;
  width: 306px;
  height: 196px;
  background-color: var(--color-brand-2);
  padding: 15px 30px;
}

.userOff > li > button{
  position: absolute;
  cursor: pointer;
  bottom: 30px;
  right: 65px;
  background-color: transparent;
  border: 1px solid #CE4646;
  color: #CE4646;
  width: 157px;
  height: 48px;
  font-size: 18px;

}

.userOff > li > button:hover{
  background-color: #f0ecec;
}






/* usuarios */
/* 1- Editar usuários */

.liUserEdit{
  width: 489px;
  height: 196px;
  border-bottom: 1px solid var(--color-brand-1);
  display: flex;
  flex-direction: column;
  padding: 10px 29px;
  line-height: 25px;
}

.btnUserEdit {
  background-image: url("/src/asserts/img/lapisEdit.png");
  border: none;
  background-color: var(--color-brand-2);
  cursor: pointer;
  background-size: 100%;
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}


.btnDeleteUser{
  background-image: url("/src/asserts/img/deleteTrashDashboard.png");
  border: none;
  background-color: var(--color-brand-2);
  cursor: pointer;
  background-size: 100%;
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}

.divNavEditUser{
  display: flex;
  flex-direction: column;
}


.divButtonsEditUser{
  display: flex;
  gap: 20px;
  margin: 0 auto;
  margin-top: 28px;
}

.allUsersDashboard{
  display: flex;
  width: 1182px;
  max-width: 100%;
  height: 385px;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0 auto;
  margin-top: 34px;
  overflow: auto;

}

.divNavCreateUser > h2{
  font-size: 30px;
  font-weight: 700;

}

.divNavCreateUser{
  display: flex;
 margin: 0 auto;
  justify-content: center;
  width: 1182px;
  max-width: 100%;
  margin-bottom: 100px;
  margin-top: 40px;

}




.modalContainerUsersEdit{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  width: 506px;
  max-width: 100%;
  height: 342px;


}

.formUsersEdit{
  position: relative;
 display: flex;
 flex-direction: column;
 width: 423px;
 max-width: 100%;
 height: 253px;
 gap: 30px

}

.formUsersEdit > select{
  display: flex;
  flex-direction: column;
  width: 422px;
  max-width: 100%;
  height: 52px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;

}


.closeModalEditUser{
  position: absolute;
  right: -30px;
  top: 0;
  background-image: url(/src/asserts/img/closemodalUser.png);
  border: none;
  background-color: var(--color-brand-2);
  cursor: pointer;
  background-size: 100%;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;

}

.btnEditUserConfirm{
  width: 422px;
  height: 48px;
  background-color: var(--color-brand-1);
  border: var(--color-brand-1);
  color: var(--color-brand-2);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.btnEditUserConfirm:hover{
  background-color: var(--color-hover-1);
  border: 1px solid var(--color-hover-1);
}




/* deletar usuários */

.userDeleteModal{
  position: fixed;
  width: 733px;
  height: 292px;
}

.formModalDeleteUser{
  position: relative;
}

.closeModalDeleteUser{
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(/src/asserts/img/closemodalUser.png);
  border: none;
  background-color: var(--color-brand-2);
  cursor: pointer;
  background-size: 100%;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}


.deleteUserDiv{
  display: flex;
  flex-direction: column;
  height: 292px;
  justify-content: center;
  align-items: center;
  gap:40px;
}

.underline{
  border-bottom: 2px solid var(--color-brand-1);
}

.btnDeleteUserConfirm{
  font-size: 18px;
  background-color: var(--color-brand-4);
  width: 422px;
  height: 48px;
  color: var(--color-brand-2);
  border: 1px solid var(--color-brand-4);
  cursor: pointer;
}

.btnDeleteUserConfirm:hover{
  background-color: var(--color-hover-3);
  border: 1px solid var(--color-hover-3);
}